.footer{
    background-image: linear-gradient(to right,
                        var(--light-pink), 
                        var(--dark-pink));
    text-align: center;
    
    &__list-heading{
        font-size: 2rem;
        font-weight: 400;
        color:var(--white);
        text-transform: uppercase;

        &:hover {
            filter: brightness(80%);
        }

        @include respond(tab-port) {
            text-align: center;
        }
        
    }


    &__list-container {
        max-width: 140rem;
        margin: 0 auto;
        text-transform: capitalize;
        padding: 2rem 5rem;
        margin-top: 5rem;
        display: flex;
        justify-content: space-between;  
        flex-wrap: wrap;

        @include respond(tab-land) {
            text-align: center;
        }
        
    }
    
    &__icon-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        @include respond (tab-port) {
            padding-bottom: 3rem;
        }

    }

    &__list-items {
        list-style: none;
        
        
        @include respond(tab-port) {
            margin: 2rem 2rem;
        }
    }

    &__social-media-icon {
        width: 2rem;
        height: 2rem;
        fill: #fff;
        display: flex;
        justify-content: space-between;

        @include respond(tab-land) {
            width: 1.5rem;
            height: 1.5rem;
           
        }
    }

    &__list-link a,
    &__list-link a:visited,
    &__list-link a:link,
    &__list-link a:active{
        font-size: 1.6rem;
        text-decoration: none;
        color: var(--white);
        text-shadow: 0 .1rem .2rem rgba(0,0,0, .2);

        @include respond(tab-port) {
            text-align: center;
        }
        
    }

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        fill: #fff;
    } 

}

.copy-rights {
    color: var(--white);
    font-size: 1.5rem;
    
}