.header {
    background-image: linear-gradient(to right , var(--light-pink), var(--dark-pink));
    color: var(--white);
    font-size: 1.6rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0, .5);
    padding: 1rem 3rem;
    text-transform: capitalize;
    height: 9rem;
   

}

.top-nav {
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__icon{
        width: 2.2rem;
        height: 2.2rem;
        fill: #fff;
        filter: brightness(80%);
        cursor: pointer;
        margin-top: 2rem;

        @include respond(tab-land) {
            display: none;
        }
    }

    &__icon:hover {
        filter: brightness(100%);
    }

    &__user-nav {
        width: 10rem;
        display: flex;
        align-items: center;
        justify-content: space-around;

        & a,
        & a:link
        & a:visited,
        & a:active{
            text-decoration: none;
            color: var(--white);
        }   
    }  
}

.logo {
    width: 4rem;
    height: 4rem;
    transform: translateY(1rem);
    
}


.search__input {
    font-size: 1.6rem;
    width: 30rem;
    height: 2.5rem;
    margin-left: 5.5rem;
    border-radius: 10rem;
    background-color: #f1f1f1;
    outline: none;
    padding-left: 1rem;
    border: none;
    transition: all .3s;

    &::placeholder {
        color: #555;
    }

    @include respond (tab-land) {
        display: none;
    }

}

.nav-bar {
    font-size: 1.6rem;
    margin-top: -.5rem;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @include respond(tab-land) {
        display: none;
    }
}

.list__item{
    color: #fff;
    font-size: 1.6rem;
    list-style: none;
    transition: all .3s;
    margin-top: 1rem;

    &:not(:last-child) {
        margin-right: 3rem;
      
    }
    
}

.list__item a,
.list__item a:visited,
.list__item a:link,
.list__item a:active{
    text-decoration: none;
    color: var(--white);

    &:hover {
        color: #dfd9d9;
         
     }

}


.lines {
    padding-bottom: 1rem;
    display: none;
    z-index: 100;
    position: absolute;
    top: 5%;
    right: 5%;

    @include respond  (tab-land) {
        display: block;   
    }
}

.line {
    width: 3rem;
    height: .4rem;
    background-color: #fff;
    margin-bottom: .5rem; 
}
