.trending {
    font-size: 1.6rem;

    &__container {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 5rem;

        @include respond(tab-port) {
            flex-wrap: wrap;
        }
        
    }

    &__product {

    }

    &__product-img {
        width: 100%;
        clip-path: circle(50%);
        justify-content: center;

    }
    &__img-box:hover{
        transform:scale(1);       
        box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.2),
                    0 .1rem .2rem 0  rgba(0,0,0,.2);
    }

    &__img-box {
        width: 25rem;
        height: 25rem;
        
        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 50%;
        // border: double .8rem transparent;
        // background-image: linear-gradient(var(--light-pink), var(--dark-pink));
        // background-origin: border-box;
        box-shadow: 0 .1rem .2rem 0 rgba(0,0,0,.2),
                    0 .1rem .2rem 0  rgba(0,0,0,.2);
        transform: scale(.9);
        transition: all .2s;
        backface-visibility: hidden ;
        margin-bottom: 1rem;

        @include respond(tab-port) {
            flex-direction: column;
            width: 15rem;
            height: 15rem;
        }
    }


    &__action {
        width: 10rem;
        margin: 0 auto;
        display: flex;
        justify-content:space-evenly;
        align-items: center;
        margin-bottom: 1rem;
        
    }

    &__detail {
        font-size: 1rem;
        font-weight: 100;
        text-transform: capitalize;

        display: flex;
        justify-content: center;
        flex-direction: column;
         
    }

    &__detail-name {
        display: flex;
        justify-content: center;
        font-size: 1.8rem;
        text-transform: capitalize;
    
    }

    &__detail-price {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        background-image: linear-gradient(to right,
            var(--light-pink),
            var(--dark-pink));
        -webkit-background-clip: text;
        color: transparent;
    }
}
.add-cart-icon{
    content: "";
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    background-image: linear-gradient( to right, 
        var(--light-pink),
        var(--dark-pink));
    -webkit-mask-image: url(../images/SVG/add_shopping_cart.svg);
    -webkit-mask-size: cover;
}
.add-watch {
    content: "";
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    background-image: linear-gradient( to right, 
        var(--light-pink),
        var(--dark-pink));
    -webkit-mask-image: url(../images/SVG/eye-plus.svg);
    -webkit-mask-size: cover;
}
