* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5;  // 1rem = 10px, 10px/16px = 0.62.5%.  ie the defaul font size is  now 10px or 1rem 
    
    @include respond(tab-land) {
        font-size: 56.25%; //1rem  = 9px, 9/16 = 50%
    }
    @include respond(tab-port) {
       font-size: 50%; //1rem = 8px, 8/16 = 50%
    }
    @include respond(big-desktop) {
       font-size: 75%; //1rem = 12px, 12/16 = 33%
    }
}

body {
    font-family: sans-serif;
    font-weight: 400;
    color: #333;
    line-height: 1.7;
    //background-image: linear-gradient(to top left,var(--light-pink),var(--dark-pink));
   //box-shadow: 0 4rem 3rem rgba(0,0,0, .8);   

}
